<div style="margin-top: 0%;">
    <!-- container section start -->
    <section id="container" class="" style="margin-top: 0%;">
  
  
      <header class="header dark-bg" style="margin-top: 0px;">
        <div class="toggle-nav">
          <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>
  
        <!--logo start-->
       <!-- <a href="index.html" class="logo"> <img src="assets/menu/img/logo.png"> </a>-->
        <!--logo end-->
  
        <div class="nav search-row" id="top_menu">
          <!--  search form start -->
          <ul class="nav top-menu">
            <li>
              <form class="navbar-form">
                <input class="form-control" placeholder="Search" type="text">
              </form>
            </li>
          </ul>
          <!--  search form end -->
        </div>
  
        <div class="top-nav notification-row">
          <!-- notificatoin dropdown start-->
          <ul class="nav pull-right top-menu">
  
            <!-- task notificatoin start -->
            <li class="sub-menu">
              <a href="javascript:;" class="">
                <i class="fa fa-home fa-lg" aria-hidden="true" style="color: white;margin-top: 6px;"></i>

                        </a>
              
            </li>

            <li id="task_notificatoin_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-list" aria-hidden="true" style="color:white"></i>
                <span class="badge bg-important">6</span>
                          </a>
              <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-blue"></div>
                <li>
                  <p class="blue">You have 6 Topics </p>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Topic 1 </div>
                      <div class="percent">90%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">90% Complete (success)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">
                        Topic 2
                      </div>
                      <div class="percent">30%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                        <span class="sr-only">30% Complete (warning)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Topic 3</div>
                      <div class="percent">80%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Topic 3</div>
                      <div class="percent">78%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                        <span class="sr-only">78% Complete (danger)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Topic 4</div>
                      <div class="percent">50%</div>
                    </div>
                    <div class="progress progress-striped active">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete</span>
                      </div>
                    </div>
  
                  </a>
                </li>
                <li class="external">
                  <a href="#">See All Topics</a>
                </li>
              </ul>
            </li>
            <!-- task notificatoin end -->
            <!-- inbox notificatoin start-->
            <li id="mail_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-envelope" aria-hidden="true" style="color:white"></i>
                               
                            </a>
                              
                          
             
            </li>
            <!-- inbox notificatoin end -->
     
            <!-- user login dropdown start-->
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                              <span class="profile-ava">
                                  <img alt="" src="assets/menu/img/avatar-mini3.jpg">
                              </span>
                              <span class="username">Profile</span>
                              <b class="caret"></b>
                          </a>
              <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li class="eborder-top">
                  <a href="#"><i class="icon_profile"></i> My Profile</a>
                </li>
                
                
                
                <li>
                  <a href="#"><i class="icon_chat_alt"></i> My Forums</a>
                </li>
                <li>
                  <a href="login.html"><i class="icon_key_alt"></i> Log Out</a>
                </li>
                
               
              </ul>
            </li>
            <!-- user login dropdown end -->
          </ul>
          <!-- notificatoin dropdown end-->
        </div>
      </header>
      <!--header end-->
      </section>
    </div>
  
