
    <!--sidebar start-->
    <div class="page-container" >
    <aside>
        <div id="sidebar" class="nav-collapse "  >
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" style="background-color:#fcf3f3">
            <li class="active" style="background-color:white;">
              <a class="" href="index.html" style="background-color: white;">
                <span class="profile-ava">
                <!--<img alt="" src="assets/menu/img/avatar-mini3.jpg" style="background-color: white;">-->
                </span>
<span><br>Profil</span>
                        </a>
            </li>
           
          
  
            
  
            <li class="sub-menu">
              <a [routerLink]="['calendar']" class="">
                            <i class="icon_table "style="color:#fc9c71" ></i>
                            <span style="color: #102e6b;">Agenda</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
             
            </li>

            <li class="sub-menu">
                <a [routerLink]="['notes']" class="">
                    <i class="fa fa-sticky-note" aria-hidden="true" style="color:#fc9c71" ></i>
                    <span style="color: #102e6b;" >Notes</span>
                              <span class="menu-arrow arrow_carrot-right"></span>
                          </a>
                
              </li>
  
            <li class="sub-menu">
              <a href="javascript:;" class="">
                            <i class="icon_documents_alt" style="color:#fc9c71" ></i>
                            <span style="color: #102e6b;">Forum</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
              <ul class="sub" >
                <li style="background-color:#fcf3f3 ;"><a class="" href="profile.html" style="color: #102e6b;">Solved</a></li>
                <li><a class="" href="home.html" style="background-color:#fcf3f3 ;"><span style="color: #102e6b;" >Unsolved</span></a></li>
                <li><a class="" href="home.html" style="background-color:#fcf3f3 ;"><span style="color: #102e6b;">All</span></a></li>

            
              </ul>
            </li>
  
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
    </div>
      <!--sidebar end-->
  