


<div>
	<header>
		<h1  id ="a" class="title col-md-10 left" style="margin-top: 80px;text-align: center;"><span id="user"> </span>  
           
       
        </h1> 
    
    

    <button class="add material-icons" style="margin-top:240px;background-color:#fcf3f3;" (click)="add()"><i class="fa fa-plus-circle" aria-hidden="true"></i>  New note
    </button>
    </header>
    
  
    

<section   #div contenteditable="true" id="a">
    <section id="b">

     
    <textarea style="position: relative">This is a sticky note you can type and edit.</textarea>    
  
</section>
   


    </section>
</div>



    

  
          